#bannertime_display .inside,
#bannertime_control .inside {
	display:flex;
	flex-direction:column;
}
#bannertime_display input,
#bannertime_display select,
#bannertime_display textarea,
#bannertime_control input,
#bannertime_control select,
#bannertime_control textarea{
	margin-bottom:10px;
	min-width:unset;
	max-width:60%;
}

#bannertime_display input[type="checkbox"] {
	position:relative;
	top:.4em;
}

.bannertime-wrap {
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	padding-bottom:15px;
}